* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}

.current {
    color: white;
}

.current:hover {
    text-decoration: underline #b10101;
}

.secNavBar {
    background-color: transparent;
    width: 100%;
    height: 10vh;
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    color: white;
    font-family: 'Krona One', sans-serif;
    z-index: 10;
    cursor: pointer;
}

.containerNavBar {
    width: 90%;
    height: 100%;
    background-color: transparent;
    display: flex;
}

.divUl {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
}

.divUl ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.liNavBar:hover {
    text-decoration: underline #b10101;
    transform: scale(1.1);
    transition: 1s;
}

.divLogin {
    width: 20%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b10101;
}

.pLogin {
    padding: 5px 5px;
    cursor: pointer;
    transition: 1s;
}

.pLogin:hover {
    transform: scale(1.1);
    transition: 1s;
    letter-spacing: 3px;
}

.secVideo video {
    width: 100%;
}

.tituloVideo {
    display: flex;
    position: absolute;
    color: white;
    top: 60%;
    left: 10%;
    font-family: 'Krona One', sans-serif;
}

.tituloVideo h3 {
    font-size: 2rem;
}

.tituloVideo p {
    font-size: 6rem;
}

.tituloVideo span {
    font-size: 25px;
    margin-left: 2%;
    color: #b10101;
}

.secHistoria {
    width: 100%;
    height: 50vh;
    background-image: url(../IMGS/2.jpg);
    background-size: cover;
    margin-top: -5px;
    display: flex;
    justify-content: center;
}

.divHistoria {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.divHistoria p {
    font-size: 2rem;
    color: white;
    font-family: 'Krona One', sans-serif;
}

.conteudoHistoria p {
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
}

.botaoHistoria {
    display: flex;
    height: 100px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.botaoHistoria p {
    font-size: 1.4rem;
}

.simboloDianaHistoria {
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-right: 40px;
}

.secHabilidades {
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    background: url("../IMGS/dz.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
}

.divHabilidades {
    width: 80%;
    height: 50vh;
    display: flex;
    align-items: center;
}

.habilidadesTitulo {
    width: 40%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pHabilidade {
    margin-top: 20%;
    font-size: 2rem;
    font-family: 'Krona One', sans-serif;
    border-bottom: 2px solid purple;
}

.descHabilidade {
    margin: auto 0;
    font-size: 1.3rem;
    text-align: left;
}

.descHabilidadeQ {
    margin: auto 0;
    font-size: 1.3rem;
    text-align: left;
    display: none;
}

.descHabilidadeW {
    margin: auto 0;
    font-size: 1.3rem;
    text-align: left;
    display: none;
}

.descHabilidadeE {
    margin: auto 0;
    font-size: 1.3rem;
    text-align: left;
    display: none;
}

.descHabilidadeR {
    margin: auto 0;
    font-size: 1.3rem;
    text-align: left;
    display: none;
}

.iconesHabilidades {
    width: 10%;
    height: 50vh;
}

.habilidades {
    margin-top: 15px;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.habilidadePassiva {
    width: 50%;
    height: 8vh;
    cursor: pointer;
}

.habilidadeQ {
    width: 50%;
    height: 8vh;
    cursor: pointer;
}

.habilidadeW {
    width: 50%;
    height: 8vh;
    cursor: pointer;
}

.habilidadeE {
    width: 50%;
    height: 8vh;
    cursor: pointer;
}

.habilidadeR {
    width: 50%;
    height: 8vh;
    cursor: pointer;
}

.habVideo {
    width: 60%;
}

.habVideo video {
    width: 100%;
    height: 490px;
    margin-top: 5%;
}

.P {
    display: block;
}

.Q {
    display: none;
}

.W {
    display: none;
}

.E {
    display: none;
}

.R {
    display: none;
}