* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Krona One', sans-serif;
}

body {
    background: url("../IMGS/prestigeDiana.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.current {
    color: purple;
    text-decoration: underline purple;
}

.secNavBar {
    background-color: transparent;
    width: 100%;
    height: 10vh;
    font-size: 20px;
    display: flex;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
    font-size: 1.8rem;
}

.containerNavBar {
    width: 60%;
    background-color: transparent;
    display: flex;
}

.divUl {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.divUl ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.liNavBar:hover {
    text-decoration: underline purple;
    transform: scale(1.1);
    transition: 1s;
}

.divLogin {
    width: 20%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: purple;
}

.pLogin {
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 5px;
    cursor: pointer;
    transition: 1s;
}

.pLogin:hover {
    transform: scale(1.1);
    transition: 1s;
    letter-spacing: 3px;
    border: purple solid;
}

.login {
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBg {
    height: 52vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    background-color: #1a1b1f;
    border-radius: 25px;
    margin-left: 60%;
}

.loginTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
}

.loginIntens {
    padding: 0 5px;
    margin-bottom: 15px;
    border: 3px solid purple;
    height: 25px;
    width: 200px;
    background-color: snow;
    color: black;
}

.loginTexto h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    color: purple;
}

.loginTexto h1 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.loginTexto p {
    color: white;
}

.loginTexto u {
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.loginButton {
    margin-top: 15px;
    padding: 10px 35px;
    border-radius: 50px;
    border: 3px solid purple;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
    color: white;
    font-size: 1rem;
}

.loginButton:hover {
    transition: 0.5s;
    color: purple;
    padding: 10px 45px;
}

.cadastro {
    padding: 10px 20px;
    border-radius: 50px;
    border: 3px solid purple;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
    color: white;
    font-size: 1rem;
}

.cadastro a {
    color: white;
}

.cadastro:hover a {
    transition: 0.5s;
    padding: 10px 10px;
    color: purple;
}